<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail Produk</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>{{produk.nama}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="produk.url"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col><ion-card-subtitle class="property-label">Kategori</ion-card-subtitle></ion-col>
          <ion-col><ion-card-subtitle class="value-label">: {{produk.kategori}}</ion-card-subtitle></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-subtitle class="property-label">Harga Beli</ion-card-subtitle></ion-col>
          <ion-col><ion-card-subtitle class="value-label">: Rp {{produk.harga_beli}}</ion-card-subtitle></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-subtitle class="property-label">Harga Jual</ion-card-subtitle></ion-col>
          <ion-col><ion-card-subtitle class="value-label">: Rp {{produk.harga_jual}}</ion-card-subtitle></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-subtitle class="property-label">Stok</ion-card-subtitle></ion-col>
          <ion-col><ion-card-subtitle class="value-label">: {{produk.stock}} pcs</ion-card-subtitle></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-subtitle class="property-label">Terjual</ion-card-subtitle></ion-col>
          <ion-col><ion-card-subtitle class="value-label">: {{produk.terjual}} pcs</ion-card-subtitle></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="btn-bottom" color="success" routerLink="/edit-produk/{{produk.id}}">
        <ion-label class="btn-label">Edit</ion-label>
      </ion-button>
      <ion-button class="btn-bottom" color="danger" (click)="showAlertHapus()">
        <ion-label class="btn-label">Hapus</ion-label>
      </ion-button>
      <ion-alert [isOpen]="showAlert" header="Hapus Produk" message="Yakin ingin menghapus produk ini?"
        [buttons]="alertButtons" (didDismiss)="onAlertDismiss()">
      </ion-alert>
    </ion-card-content>
  </ion-card>
</ion-content>