<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-header ion-text-center">
    <h1><strong>SIMOBILE</strong></h1>
    <p class="about-desc">
      SIMOBILE merupakan app kasir yang dikerjakan untuk UTS Hybrid Mobile Programming oleh team TS.
    </p>
  </div>
  <ion-card class="team-card">
    <ion-card-header>
      <ion-card-subtitle color="primary">Team TS</ion-card-subtitle>
      <ion-card-title>Nama Developer</ion-card-title>
    </ion-card-header>

    <ion-list lines="full">
      <ion-item>
        <ion-icon name="person-circle" slot="start" color="primary" class="dev-icon"></ion-icon>
        <ion-label>
          <h2>Soen Hizkia</h2>
        </ion-label>
        <ion-chip color="tertiary" slot="end" outline="true">
          <ion-label>160424017</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-icon name="person-circle" slot="start" color="primary" class="dev-icon"></ion-icon>
        <ion-label>
          <h2 class="ion-text-wrap">Eunike Obidient Djuwari</h2>
        </ion-label>
        <ion-chip color="tertiary" slot="end" outline="true">
          <ion-label>160424019</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-icon name="person-circle" slot="start" color="primary" class="dev-icon"></ion-icon>
        <ion-label>
          <h2 class="ion-text-wrap">Han Christian Gunawan</h2>
        </ion-label>
        <ion-chip color="tertiary" slot="end" outline="true">
          <ion-label>160424041</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>