<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transaksi"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail Transaksi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card id="card-header">
    <ion-card-header>
      <ion-card-title>
        <ion-label id="nota">{{riwayatTransaksi[index].no_nota}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>{{riwayatTransaksi[index].customer}}</ion-card-subtitle>
      <ion-card-subtitle>{{riwayatTransaksi[index].tanggal}} {{showBulan(riwayatTransaksi[index].bulan)}}
        {{riwayatTransaksi[index].tahun}}</ion-card-subtitle>
      <ion-card-subtitle>Jenis Transaksi: {{riwayatTransaksi[index].jenis_transaksi}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content *ngFor="let produk of riwayatTransaksi[index].list_produk">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto" class="img-col"><ion-img class="produk-img" [src]="findGambarProduk(produk.nama_produk)"></ion-img></ion-col>
          <ion-col>
            <ion-card-subtitle id="nama-produk">{{produk.nama_produk}}</ion-card-subtitle>
            <ion-card-subtitle>
              <ion-grid>
                <ion-row >
                  <ion-col>Quantity : {{produk.quantity}}</ion-col>
                  <ion-col id="subtotal">Rp {{produk.subtotal}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title id="total">Total: Rp {{riwayatTransaksi[index].harga_total}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button routerLink="/transaksi" id="btnTransaksi" color="primary" expand="block">
    <ion-label>Kembali</ion-label>
  </ion-button>
</ion-content>