<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list>
    <ion-item>
      <ion-icon 
        [name]="isDarkMode ? 'moon' : 'sunny'" 
        slot="start" 
        [color]="isDarkMode ? 'tertiary' : 'warning'">
      </ion-icon>
      
      <ion-label>
        <h2>Tema Aplikasi</h2>
        <p>{{ isDarkMode ? 'Mode Gelap' : 'Mode Terang' }}</p>
      </ion-label>
      
      <ion-toggle slot="end" color="primary" [checked]="isDarkMode" (ionChange)="toggleTema($event)"></ion-toggle>
    </ion-item>
  </ion-list>
  
</ion-content>