<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="action-header">
    <ion-searchbar placeholder="Cari Produk" class="custom-search" [(ngModel)]="kataKunciPencarian"
      (ionInput)="muatProduk()">
    </ion-searchbar>
    <ion-button class="add-button" routerLink="/tambah-produk">
      <ion-label class="add-label">Tambah Produk</ion-label>
    </ion-button>
  </div>

  <div class="filter-kategori">
    <ion-label class="filter-label">Kategori:</ion-label>
    <ion-select [(ngModel)]="kategoriAktif" (ionChange)="muatProduk()" interface="popover" class="kategori-select">
      <ion-select-option value="Semua">Semua</ion-select-option>
      <ion-select-option value="Sembako">Sembako</ion-select-option>
      <ion-select-option value="Makanan">Makanan</ion-select-option>
      <ion-select-option value="Minuman">Minuman</ion-select-option>
      <ion-select-option value="Perlengkapan">Perlengkapan</ion-select-option>
    </ion-select>
  </div>

  <ion-card class="product-cards" *ngFor="let product of produkTampil">
    <ion-card-header routerLink="/detail-produk/{{product.id}}">
      <ion-card-title class="custom-title">{{ product.nama }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="product-content">
      <ion-thumbnail class="product-thumb" routerLink="/detail-produk/{{product.id}}">
        <ion-img [src]="product.url || 'https://placehold.co/600x400/png'" [alt]="product.nama"
          class="product-image"></ion-img>
      </ion-thumbnail>

      <div class="product-info">
        <ion-label class="stock-label">Stok {{ product.stock }}</ion-label>
        <ion-label class="price-label">Rp {{ product.harga_jual | number }}</ion-label>
      </div>
    </ion-card-content>
    <div class="product-qty-btn">
      <ion-button *ngIf="getQty(product.id) === 0" (click)="tambahItem(product)" [disabled]="product.stock === 0">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>

      <div *ngIf="getQty(product.id) > 0" class="qty-button">
        <ion-button fill="clear" class="counter-btn" (click)="kurangQty(product.id)">
          <ion-icon name="remove"></ion-icon>
        </ion-button>

        <span class="counter-text">{{ getQty(product.id) }}</span>

        <ion-button fill="clear" class="counter-btn" (click)="tambahQty(product.id)"
          [disabled]="getQty(product.id) >= product.stock">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card>

  <div style="height: 60px;">
    <ion-button class="add-button-2" routerLink="/tambah-produk">
      <ion-label>Tambah Produk</ion-label>
    </ion-button>
  </div>

  <div class="empty-state" *ngIf="produkTampil.length === 0">
    <p>Tidak ada produk ditemukan.</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="floating-cart-container" *ngIf="totalKeranjang > 0">
    <ion-fab-button color="success" class="cart-button" routerLink="/keranjang">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <ion-badge color="danger" class="floating-cart-badge">
      {{ totalKeranjang }}
    </ion-badge>
  </ion-fab>
</ion-content>