<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/list-produk">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Keranjang Belanja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="keranjangItem.length === 0" class="empty-cart">
    <ion-icon name="cart-outline" size="large" color="medium"></ion-icon>
    <p>Keranjang Anda kosong.</p>
    <ion-button color="primary" routerLink="/list-produk" (click)="hapusCustomerName()">Belanja Sekarang</ion-button>
  </div>

  <ion-list *ngIf="keranjangItem.length > 0">
    <ion-item-sliding *ngFor="let item of keranjangItem" style="margin-bottom: 20px;">
      <ion-label style="margin-left: 10px;">{{ item.nama }}</ion-label>
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.url || 'https://placehold.co/600x400/png'" alt="{{ item.nama }}">
        </ion-thumbnail>
        <ion-label>
          <p>Rp {{ item.harga_jual | number }}</p>
          <p class="subtotal-label">Subtotal: Rp {{ item.harga_jual * item.qty | number }}</p>
        </ion-label>

        <div class="item-counter" slot="end">
          <ion-button fill="clear" class="counter-btn" (click)="kurangQty(item.produkId)" [disabled]="item.qty == 1">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <span class="counter-text">{{ item.qty }}</span>
          <ion-button fill="clear" class="counter-btn" (click)="tambahQty(item.produkId)"
            [disabled]="item.qty >= item.stokMaksimal">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </ion-item>

      <ion-item-options side="end" style="padding-top: 20px;">
        <ion-item-option color="danger" (click)="hapusItem(item.produkId)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer *ngIf="keranjangItem.length > 0">
  <div class="checkout-card">
    <div class="checkout-row">
      <span class="label">Total Belanja:</span>
      <span class="value total-price">Rp {{ getTotalHarga() | number }}</span>
    </div>

    <div class="checkout-row" style="border-bottom: 1px solid white;">
      <ion-input [(ngModel)]="customerName" label="Nama Customer:" placeholder="Masukkan nama"></ion-input>
    </div>

    <div class="checkout-row">
      <span class="label">Jenis Pembayaran:</span>
      <ion-select [(ngModel)]="jenisPembayaran" interface="popover" class="payment-select">
        <ion-select-option value="Tunai">Tunai</ion-select-option>
        <ion-select-option value="QRIS">QRIS</ion-select-option>
        <ion-select-option value="Transfer Bank">Transfer Bank</ion-select-option>
        <ion-select-option value="E-Wallet">E-Wallet</ion-select-option>
      </ion-select>
    </div>

    <ion-button id="btnSubmit" expand="block" color="success" class="confirm-btn"
      [disabled]="keranjangItem.length === 0" (click)="konfirmasiTransaksi()">
      Konfirmasi Transaksi
    </ion-button>

    <ion-alert [isOpen]="namaKosong" (didDismiss)="namaKosong = false" header="KESALAHAN" subHeader="Nama Masih Kosong!"
      message="Mohon lengkapi nama customer sebelum melanjutkan." [buttons]="alertButtons">
    </ion-alert>
  </div>
</ion-footer>