<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="profile">
    <ion-list>
      <ion-item lines="none">
        <ion-avatar>
          <ion-img
            src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Bu Mami</h2>
          <p>Toko Makmur Jaya</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-subtitle color="tertiary">Jumlah Produk</ion-card-subtitle>
          <ion-card-title>{{ jumlahProduk }}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-subtitle color="secondary">Transaksi Hari Ini</ion-card-subtitle>
          <ion-card-title>Rp {{ totalTransaksiHariIni | number }}</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-subtitle>Produk Terlaris</ion-card-subtitle>
          <ion-card-content *ngIf="produkTerlaris">
            <ion-img id="product-image" [src]="produkTerlaris.url"></ion-img>
            <div id="product-text">
              <ion-card-title class="product-text-item">{{ produkTerlaris.nama }}</ion-card-title>
              <ion-card-subtitle class="product-text-item">Jumlah Terjual: {{ produkTerlaris.jumlah }}</ion-card-subtitle>
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="!produkTerlaris" class="ion-text-center">
            <p>Belum ada penjualan untuk hari ini.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>