ion-avatar {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

ion-card {
  padding: 10px;
  margin: 0px;
}

#product-image {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}

#product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

.product-text-item{
  width: 100%;
}


