<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="absolute-center">Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="position:relative">
  <div class="fixed-pos">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Transaksi</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-segment [(ngModel)]="jenisTampilan" color="primary">
      <ion-segment-button value="semua">
        <ion-label>SEMUA TRANSAKSI</ion-label>
      </ion-segment-button>
      <ion-segment-button value="produk">
        <ion-label>Produk</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="jenisTampilan === 'semua'" class="tampilan">
    <div *ngFor="let transaksi of ambilSemuaTransaksi(); let i=index">
      <ion-row *ngIf="isNewMonthYear(i)">
        <ion-item class="month-year-header" lines="none">
          <ion-label>{{showHeaderBulanTahun(transaksi.bulan, transaksi.tahun)}}</ion-label>
        </ion-item>
      </ion-row>
      <ion-card class="transaction-item">
        <ion-card-subtitle class="transaction-date">
          <h1 class="date">{{transaksi.tanggal}}</h1>
          <p class="month">{{showBulan(transaksi.bulan)}}</p>
          <p class="year">{{transaksi.tahun}}</p>
        </ion-card-subtitle>
        <ion-card-subtitle class="transaction-info">
          <p class="receipt-number" style="color: var(--ion-color-primary); font-weight: bold;">{{transaksi.no_nota}}</p>
          <p>{{transaksi.customer}}</p>
          <P>Rp{{transaksi.harga_total}}</P>
        </ion-card-subtitle>
        <ion-button class="btn-detail" color="primary" routerLink="/detail-transaksi/{{i}}">
          <ion-label>Detail</ion-label>
        </ion-button>
      </ion-card>
    </div>
  </div>

  <div class="tampilan" *ngIf="jenisTampilan === 'produk'">
    <ion-grid id="grid-select">
      <ion-row>
        <ion-col style="margin-right:10px">
          <ion-select label="Bulan" labelPlacement="stacked" placeholder="Pilih Bulan" [(ngModel)]="filterBulan">
            <ion-select-option *ngFor="let bulan of listBulan; let i = index;"
              [value]="i+1">{{bulan}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col style="margin-left:10px">
          <ion-select label="Tahun" labelPlacement="stacked" placeholder="Pilih Tahun" [(ngModel)]="filterTahun">
            <ion-select-option *ngFor="let tahun of listTahun()" [value]="tahun">{{tahun}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button style="width: 100%;" (click)="hapusFilterBulanTahun()" color="primary">
          <ion-label>Hapus Filter</ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
    <ion-grid *ngFor="let bulanTahun of listBulanTahun()" style="margin-bottom: 20px;">
      <ion-row>
        <ion-item class="month-year-header" lines="none"
          *ngIf="filterRiwayatProduk(bulanTahun.bulan, bulanTahun.tahun).length > 0">
          <ion-label>{{showHeaderBulanTahun(bulanTahun.bulan, bulanTahun.tahun)}}</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let produk of filterRiwayatProduk(bulanTahun.bulan, bulanTahun.tahun)" class="product-col">
          <ion-card class="product-card">
            <ion-card-header>
              <ion-card-title>
                <h4 class="product-name">{{produk.nama_produk}}</h4>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="product-content">
              <ion-img class="product-img" [src]="produk.url"></ion-img>
              <ion-card-subtitle>Jumlah Terjual: {{produk.jumlah_terjual}}</ion-card-subtitle>
              <ion-card-subtitle>{{showBulan(produk.bulan)}}</ion-card-subtitle>
              <ion-card-subtitle>{{produk.tahun}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>