<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="absolute-center">Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transaksi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="jenisTampilan">
    <ion-segment-button value="harian">
      <ion-label>Harian</ion-label>
    </ion-segment-button>
    <ion-segment-button value="produk">
      <ion-label>Produk</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="jenisTampilan === 'harian'">
    <div *ngFor="let transaksi of riwayatTransaksi; let i=index">
      <ion-row *ngIf="transaksi.bulan != bulanSaatIni || transaksi.tahun != tahunSaatIni">
        <ion-item class="month-year-header" lines="none">
          <ion-label>{{showHeaderBulanTahun(transaksi.bulan, transaksi.tahun)}}</ion-label>
        </ion-item>
      </ion-row>
      <ion-card class="transaction-item">
        <ion-card-subtitle class="transaction-date">
          <h1 class="date">{{transaksi.tanggal}}</h1>
          <p class="month">{{showBulan(transaksi.bulan)}}</p>
          <p class="year">{{transaksi.tahun}}</p>
        </ion-card-subtitle>
        <ion-card-subtitle class="transaction-info">
          <p class="receipt-number">{{transaksi.no_nota}}</p>
          <p>{{transaksi.customer}}</p>
          <P>Rp{{transaksi.harga_total}}</P>
        </ion-card-subtitle>
        <ion-button class="btn-detail" routerLink="/detail-transaksi/{{i}}">
          <ion-label>Detail</ion-label>
        </ion-button>
      </ion-card>
    </div>
  </div>

  <div *ngIf="jenisTampilan === 'produk'">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let produk of riwayatProduk" class="product-col">
          <ion-card class="product-card">
            <ion-card-header>
              <ion-card-title>
                <h4 class="product-name">{{produk.nama_produk}}</h4>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="product-content">
              <ion-img class="product-img" [src]="produk.url"></ion-img>
              <ion-card-subtitle>Jumlah Terjual: {{produk.jumlah_terjual}}</ion-card-subtitle>
              <ion-card-subtitle>{{showBulan(produk.bulan)}}</ion-card-subtitle>
              <ion-card-subtitle>{{produk.tahun}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>