p,h1{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.month-year-header{
  width: 100%;
}

.transaction-item{
  display: flex;
  padding: 10px;
}

.transaction-date{
  text-align: center;
  margin-right: 20px;
}

.date{
  font-weight: bold;
  margin: 0px;
}

.month{
  font-size: small;
}

.transaction-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.receipt-number{
  font-weight: bold;
}

.btn-detail{
  margin-left: auto;
}

.product-img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-name{
  text-align: center;
}

